
<div class="mycontainer">
 
  <div class="center">
        <h1>Sign Up</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- <mat-form-field>
            <mat-label>Insert image</mat-label>
            <mat-icon matSuffix >file</mat-icon>
            <input matInput formControlName="image" type="file" required> 
          </mat-form-field> -->
      <mat-grid-list cols="2" rowHeight="14:3" gutterSize="7px"  >
          <mat-grid-tile>
          <mat-form-field>
            <mat-label>Full Name</mat-label>
            <mat-icon matSuffix >account_circle</mat-icon>
            <input matInput formControlName="fullName" type="text" required> 
          </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
          <mat-form-field>
                <mat-label>Email</mat-label>
                <mat-icon matSuffix >mail_outline</mat-icon>
                <input matInput formControlName="email" type="email" required> 
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <mat-icon matSuffix >lock_open</mat-icon>
            <input matInput type="password" formControlName="password" required> 
          </mat-form-field>
          </mat-grid-tile>
          
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <mat-icon matSuffix >lock_open</mat-icon>
            <input matInput type="password" formControlName="confirmPassword" required> 
          </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <mat-icon matSuffix >call</mat-icon>
            <input matInput type="tel" formControlName="phone" required> 
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field> 
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <input type="submit">
        </mat-grid-tile>
        <mat-grid-tile colspan="2"> 
           <mat-error *ngIf="success">Error in Sign up please try again</mat-error>
          <div class="signup_link">
            have an account? <a routerLink="/login">Login</a>
          </div>
        </mat-grid-tile>
        </mat-grid-list>  
        </form>
      </div>
    
</div>
