<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.slim.min.js">

<button class="close" mat-button (click)="onClose()">X</button>
<div class="container">  
    <form #educationForm="ngForm" (ngSubmit)="submit(educationForm.value)">
      <fieldset>
        <legend>Studies</legend>
        
        <div class="form-group">
          <label for="nom">Diploma</label>
          <input name="diploma" type="text" class="form-control" ngModel="" placeholder="Enter the diploma's name"  required>
        </div>
        
        <div class="form-group">
          <label for="Establishment">Establishment</label>
          <input name="establishment" type="text" class="form-control" ngModel="" placeholder="Enter the Establishment" required>
        </div>

        <div class="form-group">
            <label for="Section">Section</label>
            <input name="section" type="text" class="form-control" ngModel="" placeholder="Enter the section" required>
        </div>

        <div class="form-group">
            <label for="year">Year(yyyy)</label>
            <input type="number" ngModel="" name="year" pattern="^\d{4}$" [class.is-invalid]="" class="form-control" ngModel="" placeholder="Enter year" min="1900" max="2099" step="1" required>
        </div>
        
      </fieldset>
      <button [disabled]="educationForm.invalid"  class="btn-add"type="submit">Add</button>
      <!-- <button [disabled]="experienceForm.form.invalid" class="btn-add"type="submit">Add</button> -->
    </form>
</div>
