
<div class="mycontainer">
    <div class="center">
        
        <form   [formGroup]="FormPw" >
          
            <mat-form-field>
                <mat-label>Enter new password</mat-label>
                <mat-icon matSuffix >lock_open</mat-icon>
                <input matInput type="password" formControlName="password" > 
              </mat-form-field>

              <mat-form-field>
                <mat-label>Verify password</mat-label>
                <mat-icon matSuffix >lock_open</mat-icon>
                <input matInput type="password" formControlName="rpassword" > 
              </mat-form-field>
            
          
          <button type="submit" (click)="onSubmit()">Change password</button>
              
          
          
        </form>
      </div>
  </div>