
<form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Model" formControlName="model">
      

    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Registration Number" formControlName="registration_number">
      <mat-error *ngIf="form.get('registration_number').hasError('invalidRegistrationNumber')" style="color: red;">Please enter a valid registration number</mat-error>


      
 </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Type" formControlName="type">
      

    </mat-form-field>
  
    <div class="button-row">
      <button mat-raised-button color="orange" (click)="updateVehicle(form)">Save</button>
      <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
  </form>
  