legend{
    /* margin-top:10px ; */
    /* margin-left: 35px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.close.mat-button {
    position:absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
}

input{
    text-align: center;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-image: linear-gradient(to top, #f44336 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    
}
.form-control{
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-image: linear-gradient(to top, #f44336 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}


.btn-add{

    margin: auto;
    margin-top: 25px;
    margin-left: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 100px;
    color: white;
    background-color: #f44336;
    
}
/* .btn-add:hover{
    background-color: #f44336;
} */

.container {
    display: flex;
    justify-content: center;
    
  }
  
.form-group label {
text-align: left;
margin-bottom: 5px;
}
  
  
.row {

display: flex;
justify-content: space-between;
}
.start,
.end {
display: inline-block;
margin-top: 25px;
}

.picker input {
width: 100px; /* set the width to 100 pixels */
background-image: linear-gradient(to top, #f44336 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);

}
  
