.active-calender{
    background-color:white;
    margin-left: 10px; 
    margin-right: 10px;
    border-radius: 12px;
    color: #f44336;
    padding: 3px 4px 0px 4px;
}

.btn-add-room{
    /* margin-left: 5px; */
    margin-right: 10px;
    width: 100px;
    height: 36px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: #f44336;
    border-radius:6px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.14), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-add-room:hover {
    opacity: 0.8;
    box-shadow: 0 8px 12px #f44336;
}

.card-header{
    background-color: #f44336;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    padding-top: 24px;
    padding-bottom: 8px;
    margin-left: -17px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
    margin-left: 10px;
}

.hidden-btn {
    display: none;
  }
  .card:hover .hidden-btn {
    display: block;
  }

.card-highlight {
border: 2px solid red;
}