
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Mukta:wght@200&display=swap');
@import "../node_modules/angular-calendar/css/angular-calendar.css";
div {font-family: 'Mukta', sans-serif;}
h1 {font-family: 'Mukta', sans-serif;}

.mat-black{
    background-color: rgb(19, 18, 18);
    color: #fff;
}

.mat-red{
    background-color: rgb(187, 63, 63);
    color: #fff;
}

.mat-green{
    background-color: rgb(49, 177, 79);
    color: #fff;
}
.mat-orange{
    background-color: rgb(243, 79, 79);
    color: #fff;
}