<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Vehicles</h4>
          </div>
          <div class="card-body">
            <mat-form-field>
              <mat-label></mat-label>
              <a (click)="search()">Search</a>
              <input matInput [(ngModel)]="searchText" type="text" placeholder="Enter search text">
            </mat-form-field>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Model</th>
                  <th>Registration number</th>
                  <th>Type</th>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of vehicles" (click)="onVehicleClick(vehicle._id)">
                    <td>{{ vehicle.model }}</td>
                    <td>{{ vehicle.registration_number }}</td>
                    <td>{{ vehicle.type }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="calendarcontainer">
  <full-calendar #calendar [options]="calendarOptions" (dateClick)="DateClick($event)"></full-calendar>
</div>

<div *ngIf="showForm">
  <h2>Create Vehicle Event</h2>
  <form (ngSubmit)="onSubmit()">
    <label>
      Title:
      <input type="text" [(ngModel)]="form.title" name="title" required>
    </label>
    <br>
    <label>
      Start date:
      <input type="date" [(ngModel)]="form.start" name="start" required>
    </label>
    <br>
    <label>
      End date:
      <input type="date" [(ngModel)]="form.end" name="end" required>
    </label>
    <br>
    <label>
      Vehicle:
      <select [(ngModel)]="form.vehicle" name="vehicle" required>
        <option *ngFor="let vehicle of vehicles" [value]="vehicle._id">{{ vehicle.registration_number }}</option>
      </select>
    </label>
    <br>
    <button type="submit">Create</button>
    <button type="button" (click)="hideForm()">Cancel</button>
  </form>
</div>
