
.main-content{
    width: 450px;
    margin-left: 20px;
    display: inline-block;
  }

.mat-raised-button{
    margin: 2px;
    width : 80px;
    text-align: center;
}
th{
    color: black;
    font-size: larger;
    font-weight: bolder;
    
}
.mat-form-field{
    width: 200;
}
.mat-raised-button{
    width: 150px;
}
.mat-orange{
    background-color: rgb(243, 79, 79);
    color: #fff;
}
td a{
 margin-left: 17px;
}
tbody tr:hover {
    cursor: pointer;
    color: red;
  }

  
  .calendarcontainer{
    width: 550px;
    
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
  }
  